* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom right, rgb(0, 85, 0), rgb(250, 250, 1), rgb(67, 67, 250));
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Styling the intro page */
.quizBox {
    width: 900px;
    min-height: 500px;
    border-radius: 20px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
}

.coverPage {
    width: 900px;
    min-height: 350px;
    background-color: rgb(236, 216, 124);
    border-radius: 20px;
    padding: 80px 90px;
    margin: 0px 50px;
}

.coverPage h1 {
    color: rgb(112, 55, 1);
    font-size: 30pt;
    text-align: center;
}

.coverPage h2 {
    color:rgb(53, 51, 51);
    text-align: left;
    display: inline-flex;
    margin: 20px 10px 10px;
    font-size: 25pt;
}

.coverPage ul {
    color: rgb(53, 51, 51);
    font-size: 15pt;
    margin: 5px 20px;
    padding: 5px auto;
    font-weight: bold;
    list-style-type: square;
    list-style-position: inside;
}

.coverPage ul li {
    margin-top: 10px;
}

.coverPage button {
    background-color: orange;
    border-radius: 25px;
    color: white;
    font-weight: 900;
    font-size: 18pt;
    width: 50%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 24px 50px;
    margin: 30px 80px;
}

.tracker {
    font-size: 15pt;
    font-weight: bolder;
    display: flex;
    justify-content:space-between;
    margin: 10px 50px 30px;
    padding: 5px 5px 10px;
    width: 900px;
}

.timeCount,
.scoreCount {
    color: white;
    background-color: rgb(230, 150, 2);
    border-radius: 100px;
    padding: 10px 15px;
}


/* styling quiz questions, answer choices and their container */
.quizSet {
    width: 900px;
    min-height: 500px;
    background-color: rgb(236, 216, 124);
    border-radius: 20px;
    padding: 5px 15px;
    justify-content: center;
    text-align: center;
}

.quizQuestion {
    color:rgb(39, 38, 38);
    padding: 15px 15px;
    margin: 30px 10px;
    font-size: 27pt;
    font-weight: bold;
    text-align: center;
}

.ansChoices {
    color: rgb(29, 28, 28);
    font-size: 24pt;
    margin: 50px 15px;
    padding: 20px 10px;
    font-weight: bold;
    list-style-type: none;
    list-style-position: inside;
    justify-content: center;
}

/* styling quiz score page with initial input */
#quizEnd {
    width: 900px;
    min-height: 500px;
    background-color: rgb(236, 216, 124);
    border-radius: 20px;
    padding: 5px 15px;
    justify-content: center;
    text-align: center;
}

#finalScore,
#final-score {
    font-size: 27pt;
    color:rgb(122, 72, 21);
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.quizEnd label {
    font-size: 18pt;
    color:rgb(39, 38, 38);
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.quizEnd input {
    font-size: 18pt;
}

#submitBtn {
    background-color:rgb(230, 150, 2);
    color: white;
    border-radius: 90px;
    font-size: 12pt;
    width: 10%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 5px 5px;
    margin: 30px 30px;
}

/* styling result page of local record */
#scoreResult {
    width: 900px;
    min-height: 500px;
    background-color: rgb(236, 216, 124);
    border-radius: 20px;
    padding: 5px 15px;
    justify-content: center;
    text-align: center;
}

#showResult {
    font-size: 18pt;
    margin: 100px 300px 10px;
}

#restart {
    background-color:rgb(230, 150, 2);
    color: white;
    border-radius: 90px;
    font-size: 12pt;
    width: 20%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 5px 5px;
    margin: 30px 30px;
}

#reset {
    background-color:rgb(230, 150, 2);
    color: white;
    border-radius: 90px;
    font-size: 12pt;
    width: 20%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 5px 5px;
    margin: 30px 30px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 760px) {
    .coverPage,
    .quizSet,
    .quizEnd,
    .scoreResult {
        width: 425px;
    }
}
